<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid justify-content-center">
        <a class="navbar-brand text-center" href="">Rei da Vaga</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link d-flex align-items-center bg-dark" href="" Match="NavLinkMatch.All">
                <MudIcon Style="font-size:24pt" Icon="@Icons.Material.Filled.Home"></MudIcon>
                <span class="ms-2">
                    Início
                </span>
            </NavLink>
        </div>
    </nav>
    @*Botão Lateral Proprietários*@
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link d-flex align-items-center bg-dark" href="/proprietario" Match="NavLinkMatch.All">
                <MudIcon Style="font-size:24pt;" Icon="@Icons.Material.Filled.Person"></MudIcon>
                <span class="ms-2">
                    Proprietários
                </span>
            </NavLink>
        </div>
    </nav>
    @*Botão Lateral Veículos*@
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link d-flex align-items-center bg-dark" href="" Match="NavLinkMatch.All">
                <MudIcon Style="font-size:24pt;" Icon="@Icons.Material.Filled.DirectionsCar"></MudIcon>
                <span class="ms-2">
                    Veículos
                </span>
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
